@import '../../share/styles/color-scheme.scss';

:host{
    grid-area: switcher;
    margin-top: 20px;
    padding: 15px 8px;
    align-self: start;

    background-image: linear-gradient($bg-primary 23px, $bg-secondary 166px);
    border: 1px solid $border-primary;
    font-family: 'Courier New', Courier, monospace;

}

.title{
    border: 1px solid #c1c1c1;
    border-radius: 4px 0;
    padding: 5px;
    background-color: #cecece;
    color: #6f6b6b;
}

.day{
    position: relative;
    min-width: 55px;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: color 0.5s;

    &:hover{
        background-color: #99a194;
        color: #fff;   
    }

    &.selected{
        background-color: #7b8377;
        color: #fff;
    }

    .today {
        position: absolute;
        right: 3px;
        bottom: 1px;
        font-size: 8px;

        .date{
            color: #2a978d;
        }
    }

    .date{
        position: absolute;
        top: 1px;
        right: 2px;
        font-size: 9px;
    }
}


@media all and (max-width: 700px){
    :host{
        display: flex;
        padding-bottom: 8px;
        flex-flow: wrap;
        align-items: baseline;
        justify-content: flex-start;
        
    }

    .title{
        margin-right: 8px;
    }

    .day{
        margin: 0 4px 8px 4px;
    }
}