@import url(../../share/styles/inputs.scss);
@import '../../share/styles/color-scheme.scss';

.app-schedule-list{
    grid-area: schedule-list;
    padding: 10px 8px;
    margin-left: 10px;
    margin-top: 20px;
    background-image: linear-gradient($bg-primary 10px, $bg-secondary 200px);
    border: 1px solid $border-primary;


    .top{
        margin-bottom: 15px;
    }
    
    .records{
        display: grid;
        grid-template: auto / 100%;
        overflow: hidden;
    }
    
    .record{
        display: grid;
        grid-template: "time text close-btn" 32px / 80px 1fr 32px ;
        grid-gap: 1px;
        gap: 1px;
        padding: 4px 0;
    
        &-delete-btn{
            grid-area: close-btn;
            border: 1px solid #e39c9c;
            border-radius: 4px;
            background-color: rgb(209, 133, 133);
            text-align: center;
            cursor: pointer;
    
            span{
                position: relative;
                top: 5px;
                left: 0px;
                color:#974c4c;
            }
        }
    
        input{
            box-sizing: border-box;
            width: 100%;
            background-color: rgb(240, 240, 240);
            color: rgb(53, 53, 53);
    
            &:focus{
                outline: none;
                background-color: white;
                color: black;
            }
        }


        &-adder{
            input{
                background-color: rgb(255, 255, 255);
                border-color: rgb(226, 226, 226);
                color: #c4c4c4;
                cursor: pointer;
            }

            .record-time, .record-text{
                position: relative;
            }

            .click-area{
                position: absolute;
                width: 100%;
                height: 32px;
                cursor:vertical-text;
                z-index: 10;
            }           
        }

        &-time{
            grid-area: time;
        }
        &-text{
            grid-area: text;
        }
        &-time-icon{
            display: none;
        }

    }
        
}

@media all and (max-width: 700px) {
    .app-schedule-list{
        margin-left: 0;
    }
}



@media all and (max-width: 600px) {
    .app-schedule-list{
        .record{
            display: grid;
            grid-template: 
                "icon time gap close-btn" 32px
                "text text text text" 32px 
                / 32px 100px 1fr 86px;

            
            &-time{
                input{
                    //border-color: transparent;
                    padding: 2px 22px;
                    border-radius: 4px;
                }
            }
            &-time-icon{
                display: block;
                padding: 4px 4px;
                background-color: #d6f4de;
                border: 1px solid #85bf9c;
                border-radius: 14px 1px;
            }

            &-delete-btn{
                position: relative;
                border: 1px solid #714f4f;
                border-radius: 6px;
                background-color: #ea6767;
        
                span{
                    display: none;
                }

                &::before{
                    position: absolute;
                    content: "Delete";
                    top: 5px;
                    left: 10px;
                    font-family: 'Courier New', Courier, monospace;
                    font-size: 18px;
                    color: #fde1e1;
                }
            }

        }
    }
}