
<div class="top">
    <app-time-indicator [on]="clockStateOn"></app-time-indicator>
</div>

<form [formGroup]="recordsGroup">

    <div formArrayName="records" class="records">
        <div class="record record-editable"
            *ngFor="let recordMod of recordsStates; let i=index"
            formGroupName="{{i}}"
            [ngStyle]="{'grid-row': recordMod.position}"
            appListShafleAnimation
            [gridRow]="recordMod.position"
        >
            <div class="record-time">
                <app-time-input formControlName="time"></app-time-input>
            </div>
            <div class="record-text">
                <input formControlName="text" type="text">
            </div>
            <div class="record-delete-btn" (click)="deleteRecord(recordMod.id)">
                <span>X</span>
            </div>
        </div>


        <div class="record record-adder"
            appListShafleAnimation
            [gridRow]="recordsStates.length+1"
        >
            <div class="record-time">
                <div class="click-area" (click)="addRecord('time')"></div>
                <app-time-input disabled></app-time-input>
            </div>
            <div class="record-text">
                <div class="click-area" (click)="addRecord('text')"></div>
                <input type="text" value="Click to start writing.">
            </div>
        </div>

    </div>


</form>

